@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Root CSS Start */
/* Root CSS End */

/* Public CSS Start */
.container {
  width: 80%;
  margin: auto;
}

/* Public CSS End */

/* Header Area Start  */
.header-area {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}
.menu-area {
  display: flex;
  padding: 0 0;
}

.logo-area h2 {
  display: inline;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  margin: 0 10px;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  letter-spacing: 1px;
}
/* Header Area End */

/* PreBook Area Start  */
.prebook {
  width: 90%;
  margin: auto;
}
.prebook {
  display: flex;
}
.prebook-content {
  width: 60%;
  margin-top: 60px;
}
.prebook-content h1 {
  font-size: 52px;
  font-size: 700;
  margin: 0;
  padding: 0;
  line-height: 70px;
}
.prebook-content p {
  margin: 26px 0;
}
.prebook-content a {
  color: #fff;
  background-color: #e02c6d;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 20px;
  font-size: 16px;
}
.prebook-content .fas {
  margin-left: 6px;
}
.prebook-image {
  width: 80%;
  text-align: center;
}
/* PreBook Area End */

/* Company Area Start  */

.company-image-area {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 30px;
  border-top: 1px solid #f1efef;
  border-bottom: 1px solid #f1efef;
  padding: 30px 0;
  margin: 50px 0;
}
.single-image {
  text-align: center;
}
/* Company Area End */

/* Product Area Start  */
.title-area {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  color: #3a3a3a;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 40px;
}
.product {
  background-color: white;
  box-shadow: 1px 1px 5px #c5bfbf;
  border-radius: 3px;
  padding: 10px 10px 10px 15px;
}
.product-image img {
  width: 300px;
  height: 256px;
  border-radius: 5px;
  text-align: center;
}
.product-title h3 {
  font-size: 28px;
  font-weight: 500;
  margin: 0;
  letter-spacing: 1px;
}
.product-price h3 {
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}
.review-icon i {
  color: #fb8200;
  font-size: 14px;
}

.facilities ul {
  margin: 0;
  padding: 0;
}
.facilities li {
  list-style: none;
  font-size: 14px;
  letter-spacing: 0.3px;
}
/* Product Area End */

/* News Letter Area Start */
.signup-area {
  background-color: #f9f9f9;
}
.influencer {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
}

.newsletter {
  margin-top: 25px;
}
.newsletter h3 {
  font-size: 26px;
  color: #212529;
}
.newsletter p {
  margin-bottom: 10px;
}
.form-area form input[type="email"] {
  font-size: 26px;
}
button {
  color: #fff;
  background-color: #e02c6d;
  padding: 12px 14px 12px 14px;
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  outline: none;
}
::placeholder {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.influencer-image {
  margin-left: 100px;
}
/* News Letter Area End */

/* Footer Area Start  */
.footer-area {
  background-color: #000;
}
.footer-content {
  width: 30%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  letter-spacing: 1px;
}
.footer-content h2 {
  font-size: 24px;
  font-weight: 500;
}
.social-icons ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.social-icons li {
  text-align: center;
  padding: 0 10px;
}

.social-icons a {
  color: #fff;
  text-align: center;
  font-size: 19px;
}
/* Footer Area End */
